# Ignore Folders
Scripts/
iplists/
stats/
tests/
__pycache__/
topologies/
autotestfiles/

# Ignore Files
pssh-hosts
test.py
config.py
network
data.pickle

# Ignore all hidden
.*

# Ignore all compiled python
*.pyc

# But dont ignore these
!.gitignore
